body{
    background-color: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.machine-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.reel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.controls {
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    display: inline-block;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: gold;
    border: none;
    color: black;
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 80px;
}

.winner{
    background-color: gold;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 20px gold;
}